body {
    background-color: red;
    padding: 0;
    margin: 0;
}

.form-field {
    margin-bottom: 10px;
}

form, h1 {
    text-align: center;
}

form {
    margin-bottom: 35px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type="text"] {
    display: block;
    margin: 0 auto;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    padding: 5px 10px;
    margin-bottom: 10px;
}

.error, #error {
    color: #FF3000;
    display: block;
    min-height: 15px;
}

.regInfo {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    min-height: 20px;
    padding: 5px;
}

.regInfo:after {
    content: '';
    display: block;
    clear: both;
}

.regInfo .delete {
    float: right;
}

#messages {
    padding: 15px;
    background-color: #fff;
    min-height: 50px;
    position: relative;
}